.idea
*.gz
/a.out
/dounai
/dounai-checkin
/dounai-linux-*
/.gradle/
/build/
/android/.gradle/
/android/.idea/
/android/local.properties
/android/app/build/
/android/build/
/ios/DerivedData/
/ios/*.xcodeproj/xcuserdata/
/ios/*.xcworkspace/xcuserdata/
